<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.proyecto.afinal.controlganadero">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoapk"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoapk"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegistroActivity" />
        <activity
            android:name=".NotificacionesActivity"
            android:label="Notificaciones"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PerfilActivity"
            android:label="Mi Perfil"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FincasActivity"
            android:label="Mis Fincas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RegistroFincasActivity" />
        <activity android:name=".MiFincaActivity" />
        <activity android:name=".MisVacasActivity" />
        <activity android:name=".OrdenoActivity" />
        <activity android:name=".AgregarVacaActivity" />
        <activity android:name=".PerfilVacaActivity" />
        <activity android:name=".AgregarEventoVacaActivity"></activity>
    </application>

</manifest>